@{

}

<div class="container-fluid">
    <img src="~/Content/images/pxl-logo.png" />
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form method="post">

                <main>
                    <h2>Aanmelden</h2>
                    <br />
                    <label>Login Personeel</label>
                    <br />
                    <input name="voornaam">
                    <br />
                    <label>Password</label>
                    <br />
                    <input name="naam">
                    <br />
                    <br />
                    <input class="buttons" type="submit" value="Sign in" />
                </main>
            </form>
        </div>
    </div>
</div>
