
<body>
    <br />
    <img src="~/Content/images/pxl-logo.png" alt="PXL Logo" />
    <div class="container-fluid" id="mainContainer">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <table id="skelettable" border="2">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <label>Download:</label>
                        <input class="buttons" type="button" name="downloadOn" value="Activeer" />
                        <label>Upload:</label>
                        <input class="buttons" type="button" name="uploadOn" value="Activeer" />

                        <input class="buttons" type="button" name="overzicht" value="Overzicht" />
                        <input class="buttons" type="button" name="toonWachtwoorden" value="Toon Wachtwoorden" style="text-align: center" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input class="buttons" type="button" value="Upload Skelet" />
                        <input class="buttons" type="button" value="Verwijder Skelet" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>