@{
    ViewBag.Title = "Download";
}

<img src="~/Content/images/pxl-logo.png" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <main>
                <label>Bestand:</label>
                <label id="skeletnaam"></label>
                <form class="form-inline" action="/api/Download" method="get">
                    <label class="btn btn-default btn-file">
                        Download File<input type="submit" class="buttons" style="display: none;" />
                    </label>
                </form>
            </main>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Download.js"></script>